* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

body{
min-height: 100vh;
background-color:darkblue ;
display: grid;
place-items: center;

}
.calculadora {
    background-color: darkslateblue;
    color: white;
    grid-template-columns: repeat(4,1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}
.teclado {
    width: 100%;
}
.pantalla {
    
    background-color: black;
    padding: 40px;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}
.btn {
    background-color: black;
    color: white;
    border: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    cursor:pointer;
}  
.btn:hover {
    background-color: blue;
}

#cero{
    grid-column: span 2;

}
#igual {
    grid-column: span 2;
    background-color: crimson;
}
#clear {
    grid-column: span 2; 
    background-color: olivedrab; 
}